# --- DATABASE CONFIGURATION ---

# 1. Local Development (Chạy trực tiếp trên máy, không qua Docker)
DB_URL=jdbc:sqlserver://localhost:1433;databaseName=SmartCity_DB;encrypt=true;trustServerCertificate=true
DB_USERNAME=sa
DB_PASSWORD=123

# 2. Docker Development (Dành cho team dùng Docker Compose)
# DB_URL=jdbc:sqlserver://db:1433;databaseName=SmartCity_DB;encrypt=true;trustServerCertificate=true
# DB_USERNAME=sa
# DB_PASSWORD=Sums@!2026

# --- SELLER LOGS / SECURITY ---
CLIENT_ID=___
CLIENT_SECRET=___
JWT_TOKEN=SDQkXytWk77wP8dEXzlOX2ZeiLCjk5ZTn/XYY4gYiEkAhBXYD0i1LbGaabD1Ox/LHtf/oXQPlk87ME/HSID7bA==

# --- CLOUDINARY ---
CLOUDINARY_URL=cloudinary://988589523839572:ed3t1zcxu1wHOIYdHGnd23cZ2M8@dhqtvre8s
API_KEY=988589523839572
API_SECRET=ed3t1zcxu1wHOIYdHGnd23cZ2M8