DB_URL=jdbc:sqlserver://localhost:1433;databaseName=SmartCity_DB;encrypt=true;trustServerCertificate=true
DB_USERNAME=sa
DB_PASSWORD=123

#OAuth2
CLIENT_ID=___
CLIENT_SECRET=___

#JWT
JWT_TOKEN=SDQkXytWk77wP8dEXzlOX2ZeiLCjk5ZTn/XYY4gYiEkAhBXYD0i1LbGaabD1Ox/LHtf/oXQPlk87ME/HSID7bA==
